@media (max-width: 1300px) {
    html {
        font-size: 8px;
    }
     .right3 iframe{
        width: 400px;
        height: 400px;
     }
}
@media (max-width: 1024px) {
    html {
        font-size: 6px;
    }
     .right3 iframe{
        width: 350px;
        height: 350px;
     }
}
@media (max-width: 800px) {
    html {
        font-size: 7px;
    }
    header p {
        padding: 0 10rem;
    }
    .left1 {
        margin-left: 7rem;
    }
    .right1Photo {
        width: 50rem;
        height: 50rem;
    }
     .right3 iframe{
        width: 300px;
        height: 300px;
     }
     .man {
        width: 35rem;
        height: 35rem;
     }
     .profil {
        width: 90%;
     }
     .right4 p {
        font-size: 1.8rem; 
    }
}
@media (max-width: 600px) {
    html {
        font-size: 7px;
    }
    header p {
        padding: 0 5rem;
    }
    .left1 {
        margin-left: 7rem;
    }
    .right1Photo {
        width: 30rem;
        height: 30rem;
    }
     .right3 iframe{
        width: 300px;
        height: 300px;
     }
     .man {
        width: 35rem;
        height: 35rem;
     }
     .profil {
        width: 90%;
     }
     .right4 p {
        font-size: 1.8rem; 
    }
    .listItem p {
        font-size: 2.2rem;
    }
    .threeWin {        
        width: 100%;
        height: auto;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .left3 {
        width: auto;
        margin: 10rem 0 0 0;
    }
    .right3 {
        margin-bottom: 10rem;
    }
    .profil {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;
        margin: 5rem 0;
    }
    .fourWin {
        height: auto;
    }
    .right4 h2 {
        margin-top: 2rem;
    }
    .reviewActive {
        height: auto;
    }
}
@media (max-width: 400px) {
    html {
        font-size: 5px;
    }
    header p {
        padding: 0 5rem;
    }
    .left1 {
        margin-left: 7rem;
    }
    .right1Photo {
        width: 30rem;
        height: 30rem;
    }
     .right3 iframe{
        width: 300px;
        height: 300px;
     }
     .man {
        width: 35rem;
        height: 35rem;
     }
     .profil {
        width: 90%;
     }
     .right4 p {
        font-size: 1.8rem; 
    }
    .listItem p {
        font-size: 2.2rem;
    }
    .threeWin {        
        width: 100%;
        height: auto;
        background-color: #333;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .left3 {
        width: auto;
        margin: 10rem 0 0 0;
    }
    .right3 {
        margin-bottom: 10rem;
    }
    .profil {
        height: auto;
        flex-direction: column;
        align-items: center;
        padding: 5rem 0;
        margin: 5rem 0;
    }
    .fourWin {
        height: auto;
    }
    .right4 h2 {
        margin-top: 2rem;
    }
    .reviewActive {
        height: auto;
    }
}